.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        yuichi
      %ul.top-items__icons
        %li.top-items__icons__edit-user
          = link_to "#" do
            <i class="fas fa-edit"></i>
            %span<>
        %li.top-items__icons__new-group
          = link_to "#" do
            <i class="fas fa-cog"></i>
            %span<>
  .side-bar__group-list
    .group-items
      %p.group-items__name
        techcamp
      %p.group-items__message
        まだメッセージがありません